.contact {
    .modal-container {

        [data-display=true] {
            display: block;
        }

        [data-display=false] {
            display: none;
        }

        .fechar,
        .novo-contato,
        .cancelar {
            position: absolute;
            top: .5rem;
        }

        .fechar {
            right: .5rem;
        }

        .novo-contato,
        .cancelar {
            left: .5rem;
        }
    }
}

.lista-item {
    padding: .2rem 1rem;
    display: inline-block;
    text-align: center;
    max-width: 5rem;
    overflow: hidden;
    vertical-align: middle;

    .item-picture {
        max-width: 5rem;
        display: block;
        margin: 0 auto;
    }

    .item-name {
        max-height: 1rem;
        overflow: hidden;
    }

    [use-name] {
        cursor: pointer;
    }
}